<ion-header>

  <ion-navbar color="dark">
    <ion-title>Cart</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="!cartItems || cartItems.length === 0" style="padding-top:20px;">
    <h5 style="color:gray; text-align: center;">
      No products in cart
    </h5>
  </div>
  <ion-list>
    <ion-item *ngFor="let product of cartItems">
      <h2>{{product.name}}</h2>
      <p>Qty: {{product.qty}}</p>
      <button ion-button clear item-right icon-only color="dark" (click)="removeProductFromCart(product.id)">
        <ion-icon name="remove-circle"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-buttons end>
      <button ion-button icon-right [disabled]="!cartItems || cartItems.length === 0" (click)="openCheckout()">
        Checkout
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
